.awards {
    margin-top: 20px;
  }
  
  .awards h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .awards ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .awards li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  