.skills {
    margin-top: 20px;
  }
  
  .skills h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skills ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .skills li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  